<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章管理首页</title>
</head>
<body>
        <div class="white-box"  >
            <div style="border: #0e0e0e">
                <h4 class="text-left">用户列表</h4>
                <table id="articleInfoTable" class="table table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th>序号</th>
                        <th>学生姓名</th>
                        <th>文章数</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="white-box" >
            <h4 class="text-left">统计图</h4>
            <canvas id="ArticleChart" width="70%" height="15%">
                图表
            </canvas>
        </div>

<script>


</script>

</body>
</html>