<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="assets/images/favicon.png" type="image/png">
  <title></title>
    <link th:href="@{css/icons.css}" rel="stylesheet">
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{css/style.css}" rel="stylesheet">
    <link th:href="@{css/responsive.css}" rel="stylesheet">


</head>

<body class="error-bg">

 <!--Start Section-->
 <section>
     <div class="container">
         <div class="row">
             <div class="error-inner">
                 <h1>404</h1>
                 <h3>Oops, sorry we can not fint that page</h3>
                 <p>Lorem Ipsum is simply dummy text of the</p>
                 <a href="../../../../../../../../网页模板/后台/123/index.html" class="btn btn-primary">Back to home</a>
             </div>   
         </div>
     </div>
 </section>
 <!--End Section-->




    <!--Begin core plugin -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- End core plugin -->

</body>

</html>
